<app-nav-bar></app-nav-bar>
<button routerLink="add" class="btn btn-success mb-3">Ajouter un formateur</button>

<table class="table table-striped">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Numéro CIN</th>
      <th scope="col">Photo</th>
      <th scope="col">CV</th>
      <th scope="col">Spécialités</th>
      <th scope="col">Editer</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    @for (formateur of formateurs; track $index) {
      <tr>
        <th scope="row">{{formateur.id}}</th>
        <td>{{formateur.nom}}</td>
        <td>{{formateur.prenom}}</td>
        <td>{{formateur.email}}</td>
        <td>{{formateur.telephone}}</td>
        <td>{{formateur.numCIN}}</td>
        <td><img [src]="formateur.photo" alt="Photo de {{formateur.nom}}" width="50"></td>
        <td><a [href]="formateur.cv" target="_blank">Voir CV</a></td>
        <td>{{formateur.specialites.join(', ')}}</td>
        <td><a class="btn btn-primary" [routerLink]="['/admin-space/formateurs', 'edit', formateur.id]">Editer</a></td>
        <td><button class="btn btn-danger" (click)="deleteFormateur(formateur.id)">Supprimer</button></td>
      </tr>
    }
  </tbody>
</table>